* {
  box-sizing: border-box;
}

body{
    font-family: "Helveltica;Arial"
}

.row {
  width: 100%;
}

h1, h2{
    text-align: center;
}

section{
    position: relative;
     margin-top: 5px;
     background-color: #d3d3d3;
}

section > h2{
    position: relative;
   /*width: 25%;*/
   top: -20px;
   float: right;
   padding-left: 10px;
   padding-right: 10px;
   border: 2px solid black;
}

 p{
     clear: both;
     text-align: justify;
     padding: 5px;
 }
 
 .pink{
     background-color: #ff69b4;
 }
 
  .yellow{
     background-color:#ffff00;;
 }
 
 .red{
     background-color: #ff0000;
     color:#fff;
 }

@media (min-width: 992px){
    .col-md-3{
        float: left;
        border: 1px solid black;
        padding: 2px;
    }
    .col-md-3{
        width: 33.33% ; 
    }
}

@media  (min-width: 768px) and (max-width: 991px){
    .col-sm-6, .col-sm-12{
        float: left;
        border: 1px solid black;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-12{
        width: 100%;
    }
}

@media (max-width: 767px){
    .col-xs-12{
        float: left;
        border: 1px solid black;
    }
    .col-xs-12{
        width: 100%;
    }
}