* {
  box-sizing: border-box;
}

body{
    font-family: "Helveltica;Arial"
}

.row {
  width: 100%;
}

.navbar-header .navbar-brand{
    padding: 0;
}

section{
    position: relative;
     margin-top: 5px;
     background-color: #d3d3d3;
}

.title{
 margin-top: 60px;   
}

section > h2{
    position: relative;
   top: -20px;
   float: right;
   padding-left: 10px;
   padding-right: 10px;
   border: 2px solid black;
}

 p{
     clear: both;
     text-align: justify;
     padding: 5px;
 }
 
 .pink{
     background-color: #ff69b4;
 }
 
  .yellow{
     background-color:#ffff00;;
 }
 
 .red{
     background-color: #ff0000;
     color:#fff;
 }

.border{
        float: left;
        border: 1px solid black;
         padding: 2px;
    }